.glass-bg {
  background-color: #fafafaa7 !important;
  backdrop-filter: blur(100px) !important;
}

.bluepink-bg {
  background: linear-gradient(184deg, #ffbeda 0%, #94bbe97e 25%) !important;
}

.pearl-bg {
  background: linear-gradient(
    312deg,
    rgba(131, 58, 180, 0.1) 0%,
    rgba(253, 29, 29, 0.05) 50%,
    rgba(47, 87, 253, 0.05) 72%,
    rgba(252, 176, 69, 0.1) 100%
  ) !important;
}
